h3{
    color: rgb(0, 0, 0);
}
h5{
    color: rgb(0, 0, 0);
}
body {
    background-color: rgba(20, 71, 181, 0.712);
    border: solid;
    border-color: rgb(0, 0, 0);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

#congest{
  width: 35%;
}

#sema{
  width: 20%;
}

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
div{
  padding-top: 1%;
}
